<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Footer style -->
		<style>
			html {
  				position: relative;
  				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 60px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
				background-color: #f5f5f5;
				margin-top: 10px;
			}
			body > .container {
				padding: 60px 15px 0;
			}
			.container .text-muted {
				margin: 20px 0;
			}

			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
		</style>
		<title>Анкета про имена: главная</title>
	</head>
	<body>
		<!-- Header -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Имя-имечко</a>
				</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Заполнить анкету</a></li>
					<li><a href="/statistics">Статистика</a></li>
					<li><a href="/getjson">JSON</a></li>
					<li><a href="/search">Поиск</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		</nav>
		<div class="container theme-showcase" role="main">

		<!-- Call to action-->
			<div class="jumbotron">
				<h1>Анкета про имена</h1>
				<p>Здравствуйте! <br />Я провожу небольшое исследование про имена и их диминутивы (уменьшительно-ласкательные формы) в русском языке. Пожалуйста, заполните анкету ниже. Это не займёт много времени, но очень поможет.</p>
				<p>Большое спасибо!</p>
			</div>

			<!-- Form -->
			<form action="/">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h2 class="panel-title">Сначала — немного информации о вас</h2>
					</div>
					<!-- Info about speaker -->
					<div class="panel-body">
							<p><b>Сколько вам лет?</b><br /><input type="text" name="age" value=""></p>
							<p><b>В каком регионе вы родились?</b><br /><input type="text" name="region_born" value=""><br /><i>Под "регионом" имеется в виду регион России, например, Красноярский край или Ямало-Ненецкий автономный округ. Если вы родились в другой стране, укажите её, например, Казахстан.</i></p>
							<p><b>В каком регионе вы прожили бóльшую часть жизни?</b><br /><input type="text" name="region_now" value=""><br /><i>Оставьте это поле пустым, если ответ совпадает с ответом на предыдущий вопрос.</i></p>
					</div>
				</div>
				<!-- Instructions -->
				<div class="well">
					<h2>Краткая инструкция по заполнению анкеты</h2>
					<p>Вам будут предложены различные имена. В поле ниже введите, пожалуйста, такую короткую форму этого имени, которая пришла вам в голову первой.</p>
				</div>
				<!-- Names 1 -->
				<div class="col-md-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h2 class="panel-title">Первая половина</h2>
					</div>
					<div class="panel-body">
							<p>Ульяна<br /><input type="text" name="Uliana"></p>
							<p>Олег<br /><input type="text" name="Oleg"></p>
							<p>Василиса<br /><input type="text" name="Vasilisa"></p>
							<p>Георгий<br /><input type="text" name="Georgij"></p>
							<p>Алёна<br /><input type="text" name="Alyona"></p>
							<p>Никита<br /><input type="text" name="Nikita"></p>
							<p>Кристина<br /><input type="text" name="Kristina"></p>
							<p>Лев<br /><input type="text" name="Lev"></p>
							<p>Алиса<br /><input type="text" name="Alisa"></p>
							<p>Анна<br /><input type="text" name="Anna"></p>
					</div>
				  </div>
				</div>
				<!-- Names 2 -->
				<div class="col-md-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h2 class="panel-title">Вторая половина</h2>
					</div>
					<div class="panel-body">
							<p>Александр<br /><input type="text" name="Alexander"></p>
							<p>Лариса<br /><input type="text" name="Larisa"></p>
							<p>Екатерина<br /><input type="text" name="Ekaterina"></p>
							<p>Регина<br /><input type="text" name="Regina"></p>
							<p>Семён<br /><input type="text" name="Semyon"></p>
							<p>Полина<br /><input type="text" name="Polina"></p>
							<p>Алексей<br /><input type="text" name="Aleksej"></p>
							<p>Алина<br /><input type="text" name="Alina"></p>
							<p>Михаил<br /><input type="text" name="Mihail"></p>
							<p>Анастасия<br /><input type="text" name="Anastasia"></p>
					</div>
				  </div>
				</div>
				<!-- Send -->
				<p align="center"><input type="submit" class="btn btn-lg btn-primary" value="Отправить"></p>
			</form>
			</div>

			<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<p class="text-muted">Даша Максимова, БКЛ153; <a href="mailto:daria.maximova.m@gmail.com">пишите</a>, если есть вопросы!</p>
				</div>
			</footer>
		</div>
	</body>
</html>